
.pricedata {
  font-size: 10px;
}

.lastupdate {
  color: green;
}

.rpdiv {
  height: 60%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  border: 2px solid gray;
  border-radius: 2px;
}
